$disabled-color: #cfd4d7;
$brand-primary: #16c3b7;

.btn {
  font-family: "Encode Sans", sans-serif;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.5px;

  &:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.btn-link {
  color: $brand-primary;
  font-weight: 500;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: $brand-primary;
  }
}

.btn-primary {
  &:hover,
  &:focus,
  &:active {
    background-color: $brand-primary;
    border-color: $brand-primary;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
  }
}

.btn-secondary {
  &:hover,
  &:focus,
  &:active {
    color: #aeb3b6;
    border-color: #cfd4d7;
    background-color: white;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.btn {
  outline: none;
  border-width: 2px;
}
