.neos-switch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.neos-switch-checkbox {
  display: none;
}

.neos-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 32px;
  padding: 0;
  line-height: 30px;
  border: solid $border-width $btn-secondary-border;
  border-radius: 30px;
  background-color: white;
  transition: background-color 0.3s ease-in;
}

.neos-switch-label:before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  background: $gray-light;
  position: absolute;
  top: 3px;
  bottom: 0;
  right: 21px;
  border: 1px solid $btn-secondary-border;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s;
}

.neos-switch-checkbox:checked + .neos-switch-label {
  background-color: $brand-primary;
}

.neos-switch-checkbox:checked + .neos-switch-label,
.neos-switch-checkbox:checked + .neos-switch-label:before {
  border-color: $brand-primary;
}

.neos-switch-checkbox:checked + .neos-switch-label:before {
  right: 2px;
  background: white;
}
